
.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 6px 2px;
    background-color: #942a2a;
    border-radius: 12px;
    transition: all .5s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.title {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #070;
    border-bottom: 1px solid #000;
}

.image {
    width: 80px;
    height: 60px;
    background-color: #57031e;
}

.price {
    width: 80%;
    height: 20px;
    color: #ddd;
    text-align: center;
    font-weight: 600;
    background-color: #70f;
}
